In [10]:
!kaggle datasets download parisrohan/credit-score-classification

Downloading credit-score-classification.zip to /Users/ama/Desktop/DS/gitProjects/Machine_learning_in_finance/Credit score
100%|██████████████████████████████████████| 9.51M/9.51M [00:08<00:00, 1.19MB/s]
100%|██████████████████████████████████████| 9.51M/9.51M [00:08<00:00, 1.18MB/s]

In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [9]:
df = pd.read_csv("train.csv", low_memory=False)
test = pd.read_csv("test.csv", low_memory=False)

In [10]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [11]:
df.shape

(100000, 28)

In [18]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [34]:
#Drop features which are not of importance in determining the credit score
d_col = ['ID', 'Customer_ID', 'Month', 'Name', 'SSN','Num_Bank_Accounts','Num_Bank_Accounts', 
      'Num_Credit_Card', 'Interest_Rate','Num_of_Loan','Changed_Credit_Limit','Num_Credit_Inquiries',
      'Credit_Utilization_Ratio','Amount_invested_monthly']

drop_df = df.drop(d_col, axis=1).copy()
drop_df

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,809.98,22 Years and 1 Months,No,49.574949,High_spent_Small_value_payments,312.49408867943663,Good
1,23,Scientist,19114.12,NaN,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,NaN,Good,809.98,NaN,No,49.574949,Low_spent_Large_value_payments,284.62916249607184,Good
2,-500,Scientist,19114.12,NaN,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,Good,809.98,22 Years and 3 Months,No,49.574949,Low_spent_Medium_value_payments,331.2098628537912,Good
3,23,Scientist,19114.12,NaN,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4,Good,809.98,22 Years and 4 Months,No,49.574949,Low_spent_Small_value_payments,223.45130972736786,Good
4,23,Scientist,19114.12,1824.843333,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,NaN,Good,809.98,22 Years and 5 Months,No,49.574949,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,25,Mechanic,39628.99,3359.415833,"Auto Loan, and Student Loan",23,7,_,502.38,31 Years and 6 Months,No,35.104023,High_spent_Large_value_payments,479.86622816574095,Poor
99996,25,Mechanic,39628.99,3359.415833,"Auto Loan, and Student Loan",18,7,_,502.38,31 Years and 7 Months,No,35.104023,High_spent_Medium_value_payments,496.651610435322,Poor
99997,25,Mechanic,39628.99,3359.415833,"Auto Loan, and Student Loan",27,6,Good,502.38,31 Years and 8 Months,No,35.104023,High_spent_Large_value_payments,516.8090832742814,Poor
99998,25,Mechanic,39628.99,3359.415833,"Auto Loan, and Student Loan",20,NaN,Good,502.38,31 Years and 9 Months,No,35.104023,Low_spent_Large_value_payments,319.1649785257098,Standard
99999,25,Mechanic,39628.99_,3359.415833,"Auto Loan, and Student Loan",18,6,Good,502.38,31 Years and 10 Months,No,35.104023,!@9#%8,393.6736955618808,Poor

# Replace Invalid Values to NULL

In [35]:
#Explore the NAN value in the dataset
drop_df.isnull().sum()

Age                           0
Occupation                    0
Annual_Income                 0
Monthly_Inhand_Salary     15002
Type_of_Loan              11408
Delay_from_due_date           0
Num_of_Delayed_Payment     7002
Credit_Mix                    0
Outstanding_Debt              0
Credit_History_Age         9030
Payment_of_Min_Amount         0
Total_EMI_per_month           0
Payment_Behaviour             0
Monthly_Balance            1200
Credit_Score                  0
dtype: int64

In [36]:
#Drop it
drop_na = drop_df.dropna().copy()

# Transforming

In [37]:
drop_na.head()

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,809.98,22 Years and 1 Months,No,49.574949,High_spent_Small_value_payments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,8_,Good,809.98,22 Years and 7 Months,No,49.574949,Low_spent_Small_value_payments,244.5653167062043,Good
8,28_,_______,34847.84,3037.986667,Credit-Builder Loan,3,4,Good,605.03,26 Years and 7 Months,No,18.816215,Low_spent_Small_value_payments,470.69062692529184,Standard
9,28,Teacher,34847.84,3037.986667,Credit-Builder Loan,7,1,Good,605.03,26 Years and 8 Months,No,18.816215,High_spent_Large_value_payments,484.5912142650067,Good
10,28,Teacher,34847.84_,3037.986667,Credit-Builder Loan,3,-1,_,605.03,26 Years and 9 Months,No,18.816215,High_spent_Large_value_payments,466.46647639764313,Standard

In [38]:
#check for unique or incorrect values

for i in drop_na:
    print('\n', i, drop_na[i].unique())

 Age ['23' '28_' '28' ... '8425' '2263' '1342']

 Occupation ['Scientist' '_______' 'Teacher' 'Engineer' 'Entrepreneur' 'Lawyer'
 'Media_Manager' 'Doctor' 'Journalist' 'Manager' 'Mechanic' 'Writer'
 'Accountant' 'Architect' 'Musician' 'Developer']

 Annual_Income ['19114.12' '34847.84' '34847.84_' ... '20002.88' '39628.99' '39628.99_']

 Monthly_Inhand_Salary [ 1824.84333333  3037.98666667 12187.22       ...  3097.00833333
  1929.90666667  3359.41583333]

 Type_of_Loan ['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'
 'Credit-Builder Loan' 'Auto Loan, Auto Loan, and Not Specified' ...
 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan'
 'Payday Loan, Student Loan, Mortgage Loan, and Not Specified'
 'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan']

 Delay_from_due_date [ 3  7  5 13 10  8  0  4 -1 30 34 27 14 11  2 -2  1 16 17 23 22 15 12 51
 53 48 43 52 28 25 20 49 61 31 26 29 18 50 45  6 56 59 55 57 54 62 67 36
 41 19 21 24 65 32  9 39 47 46 60 64 33 35 44 38 58 63 42 40 37 -3 -5 -4
 66]

 Num_of_Delayed_Payment ['7' '8_' '4' '1' '-1' '0' '8' '6' '5' '3' '9' '2' '14' '11' '20' '22'
 '10' '13' '13_' '14_' '16' '12' '12_' '18' '19' '17' '23' '24' '21' '15'
 '3083' '22_' '1338' '26' '11_' '3104' '25' '183_' '9_' '1106' '834' '19_'
 '24_' '3_' '23_' '2672' '20_' '4_' '2008' '538' '6_' '1_' '27' '-2'
 '3478' '2420' '15_' '707' '26_' '18_' '28' '5_' '1867' '2250' '16_'
 '1463' '-3' '4126' '17_' '2882' '1941' '7_' '2655' '3069' '306' '0_'
 '3539' '3684' '10_' '1823' '4128' '1946' '2297' '904' '929' '3568' '1552'
 '1697' '851' '1668' '808' '2689' '3858' '642' '3037' '3103' '2_' '1063'
 '2056' '1282' '1841' '2569_' '25_' '211' '793' '3484' '2072' '3050'
 '2162' '3402' '2753' '27_' '1718' '1014' '3260' '21_' '3855' '84' '2311'
 '1832' '3010' '733' '4241' '2461' '1749' '3200' '663_' '2185' '3009'
 '359' '2015' '1523' '1079' '1199' '186' '1015' '1989' '281' '559' '3545'
 '779' '192' '4311' '-2_' '2323' '1471' '3529' '3456' '2697' '3179' '1332'
 '3112' '829' '4022' '4023' '531' '1511' '3092' '3191' '3621' '28_' '2300'
 '72' '398' '3960' '1473' '3043' '4216' '2903' '2658' '-1_' '4042' '1323_'
 '2184' '2438' '809' '47' '1370' '1204' '2167' '4011' '2533' '1663' '1018'
 '3316' '2589' '3355' '2529' '2488' '1243' '845' '4107' '337' '290' '674'
 '2450' '3738' '1792' '2812' '2570' '775' '960' '482' '1706' '2493' '3623'
 '3031' '2794_' '2219_' '758_' '1849' '3726' '1953' '2657' '4043' '2938'
 '4384' '2694' '519' '2677' '2609' '4326' '823' '1608' '2860' '4219'
 '1531' '4024' '1673' '1685' '2587' '3489' '749' '848_' '4134' '4075'
 '3845' '1060' '2573' '328' '2585' '2230' '1534' '3739' '2628' '996' '372'
 '3340' '3177' '1766' '1359' '3107' '585' '1263' '709' '3632' '2793'
 '3245' '2317' '1640' '2237_' '847' '3978' '2737' '1192' '1481' '271'
 '2286' '273' '3944' '1478' '3749' '2959' '3097_' '3511' '2196' '1874'
 '1553' '3847' '1222' '3051' '1598' '416' '2314' '2955' '1691' '1636'
 '3708' '320' '2945' '3416' '4159' '2255' '4397' '3776' '-3_' '2148' '853'
 '1178' '1633' '196' '3864' '468' '2044' '1541' '3661' '1211' '3162'
 '3142' '2766' '2728' '2671' '3580' '2705' '4251' '3119' '4185' '683'
 '4302' '3447' '1852' '2131' '1900' '1699' '2018' '2127' '508' '210' '577'
 '1664' '1411' '2351' '867' '1371' '905' '4053' '3869' '3660' '3300'
 '3629' '3208' '2142' '2521' '450' '583' '876' '2560' '2578' '813' '4360'
 '1154' '2544' '4172' '2924' '426' '4270' '2768' '3909' '3171' '2569'
 '887' '4337' '4249' '2950' '107' '2348' '2506' '2810' '2873' '2262'
 '1890' '3078' '3865' '3268' '2777' '3105' '1278' '223' '2239' '2756'
 '1181' '1184' '3972' '2334' '3900' '2280' '2492' '2729' '3750' '1825'
 '309' '2431' '3099' '2080' '3722' '1976' '529' '933' '3060' '4278' '3212'
 '46' '3467' '4231' '3790' '473' '1536' '3955' '2324' '2381' '1177' '371'
 '2896' '3880' '2991' '4319' '1061' '662' '4144' '2006' '3115' '3751'
 '1861' '4262' '2913' '3766' '384' '3407' '2707' '1087' '3329' '1086'
 '2216' '1087_' '2457' '1614' '3274' '3488' '2854' '238' '3706' '4095'
 '1329' '3370' '283' '1392' '1743' '974' '4388' '4211' '4281' '3415'
 '3815' '441' '94' '3499' '969' '106' '1004' '2638' '2956' '85' '4113'
 '615' '2801' '1172' '2553' '3495' '4239' '1295_' '4295' '1879' '1735'
 '3584' '3827' '3754' '532' '2376' '3636' '3763' '778' '2621' '804' '754'
 '2418' '3926' '3861_' '162' '2834' '2354' '523' '1606' '1443' '1354'
 '2142_' '1422' '2278' '4106' '3155' '1216' '1473_' '2534' '4002' '2875'
 '4344' '3894' '1256' '676' '4178' '399' '1180' '86' '4037' '1150' '2591'
 '2149' '3721' '1775' '2260' '3707' '4292' '1820' '145' '1480' '430'
 '3920_' '1389' '1579' '3336' '3392' '3688' '221' '2047']

 Credit_Mix ['_' 'Good' 'Standard' 'Bad']

 Outstanding_Debt ['809.98' '605.03' '1303.01' ... '3571.7_' '3571.7' '502.38']

 Credit_History_Age ['22 Years and 1 Months' '22 Years and 7 Months' '26 Years and 7 Months'
 '26 Years and 8 Months' '26 Years and 9 Months' '26 Years and 11 Months'
 '27 Years and 0 Months' '27 Years and 2 Months' '17 Years and 9 Months'
 '17 Years and 10 Months' '18 Years and 1 Months' '18 Years and 2 Months'
 '18 Years and 3 Months' '18 Years and 4 Months' '17 Years and 3 Months'
 '17 Years and 4 Months' '17 Years and 5 Months' '17 Years and 6 Months'
 '17 Years and 7 Months' '17 Years and 8 Months' '30 Years and 7 Months'
 '30 Years and 8 Months' '30 Years and 9 Months' '30 Years and 10 Months'
 '30 Years and 11 Months' '31 Years and 2 Months' '14 Years and 8 Months'
 '14 Years and 10 Months' '14 Years and 11 Months' '15 Years and 0 Months'
 '15 Years and 2 Months' '21 Years and 4 Months' '21 Years and 5 Months'
 '21 Years and 8 Months' '21 Years and 9 Months' '21 Years and 11 Months'
 '26 Years and 6 Months' '19 Years and 2 Months' '19 Years and 3 Months'
 '19 Years and 5 Months' '19 Years and 6 Months' '19 Years and 7 Months'
 '19 Years and 8 Months' '25 Years and 5 Months' '25 Years and 6 Months'
 '25 Years and 7 Months' '25 Years and 8 Months' '25 Years and 9 Months'
 '25 Years and 10 Months' '26 Years and 10 Months' '27 Years and 1 Months'
 '27 Years and 3 Months' '27 Years and 4 Months' '27 Years and 5 Months'
 '9 Years and 0 Months' '9 Years and 2 Months' '9 Years and 3 Months'
 '9 Years and 4 Months' '9 Years and 6 Months' '18 Years and 5 Months'
 '18 Years and 6 Months' '18 Years and 8 Months' '18 Years and 9 Months'
 '16 Years and 10 Months' '16 Years and 11 Months' '17 Years and 0 Months'
 '17 Years and 1 Months' '17 Years and 2 Months' '6 Years and 5 Months'
 '6 Years and 6 Months' '6 Years and 7 Months' '6 Years and 8 Months'
 '6 Years and 10 Months' '7 Years and 0 Months' '18 Years and 7 Months'
 '10 Years and 2 Months' '10 Years and 3 Months' '10 Years and 4 Months'
 '10 Years and 6 Months' '10 Years and 7 Months' '10 Years and 8 Months'
 '12 Years and 3 Months' '12 Years and 4 Months' '12 Years and 5 Months'
 '12 Years and 6 Months' '12 Years and 7 Months' '12 Years and 8 Months'
 '12 Years and 10 Months' '12 Years and 9 Months' '13 Years and 8 Months'
 '14 Years and 0 Months' '14 Years and 1 Months' '14 Years and 2 Months'
 '19 Years and 4 Months' '30 Years and 3 Months' '30 Years and 4 Months'
 '30 Years and 5 Months' '8 Years and 9 Months' '8 Years and 10 Months'
 '8 Years and 11 Months' '9 Years and 1 Months' '19 Years and 0 Months'
 '8 Years and 8 Months' '13 Years and 1 Months' '13 Years and 2 Months'
 '13 Years and 5 Months' '13 Years and 7 Months' '21 Years and 6 Months'
 '21 Years and 10 Months' '25 Years and 11 Months' '26 Years and 0 Months'
 '26 Years and 1 Months' '26 Years and 2 Months' '13 Years and 3 Months'
 '13 Years and 4 Months' '13 Years and 6 Months' '13 Years and 9 Months'
 '27 Years and 11 Months' '28 Years and 1 Months' '28 Years and 3 Months'
 '28 Years and 4 Months' '28 Years and 5 Months' '28 Years and 6 Months'
 '7 Years and 10 Months' '7 Years and 11 Months' '8 Years and 0 Months'
 '8 Years and 1 Months' '8 Years and 2 Months' '8 Years and 3 Months'
 '8 Years and 4 Months' '8 Years and 5 Months' '24 Years and 3 Months'
 '24 Years and 7 Months' '24 Years and 8 Months' '24 Years and 9 Months'
 '1 Years and 5 Months' '1 Years and 6 Months' '1 Years and 7 Months'
 '1 Years and 8 Months' '11 Years and 0 Months' '11 Years and 1 Months'
 '11 Years and 3 Months' '11 Years and 4 Months' '11 Years and 5 Months'
 '11 Years and 6 Months' '31 Years and 0 Months' '31 Years and 1 Months'
 '10 Years and 9 Months' '14 Years and 3 Months' '14 Years and 4 Months'
 '14 Years and 5 Months' '14 Years and 6 Months' '20 Years and 9 Months'
 '21 Years and 0 Months' '21 Years and 1 Months' '21 Years and 2 Months'
 '21 Years and 3 Months' '0 Years and 5 Months' '0 Years and 6 Months'
 '0 Years and 9 Months' '0 Years and 10 Months' '31 Years and 7 Months'
 '31 Years and 8 Months' '31 Years and 9 Months' '31 Years and 11 Months'
 '32 Years and 1 Months' '12 Years and 11 Months' '13 Years and 0 Months'
 '11 Years and 7 Months' '11 Years and 8 Months' '11 Years and 9 Months'
 '11 Years and 10 Months' '24 Years and 10 Months'
 '24 Years and 11 Months' '25 Years and 1 Months' '25 Years and 2 Months'
 '25 Years and 3 Months' '10 Years and 1 Months' '10 Years and 5 Months'
 '19 Years and 1 Months' '31 Years and 3 Months' '31 Years and 4 Months'
 '31 Years and 5 Months' '31 Years and 6 Months' '5 Years and 2 Months'
 '5 Years and 3 Months' '5 Years and 4 Months' '5 Years and 5 Months'
 '5 Years and 6 Months' '5 Years and 8 Months' '2 Years and 11 Months'
 '3 Years and 1 Months' '3 Years and 2 Months' '3 Years and 3 Months'
 '3 Years and 4 Months' '3 Years and 5 Months' '3 Years and 6 Months'
 '24 Years and 5 Months' '24 Years and 6 Months' '16 Years and 4 Months'
 '16 Years and 5 Months' '16 Years and 7 Months' '16 Years and 8 Months'
 '16 Years and 9 Months' '22 Years and 11 Months' '23 Years and 3 Months'
 '23 Years and 4 Months' '23 Years and 5 Months' '8 Years and 6 Months'
 '8 Years and 7 Months' '4 Years and 5 Months' '4 Years and 6 Months'
 '4 Years and 7 Months' '4 Years and 8 Months' '4 Years and 9 Months'
 '4 Years and 11 Months' '5 Years and 0 Months' '32 Years and 8 Months'
 '32 Years and 9 Months' '32 Years and 10 Months' '32 Years and 11 Months'
 '33 Years and 0 Months' '33 Years and 2 Months' '33 Years and 3 Months'
 '12 Years and 2 Months' '29 Years and 9 Months' '29 Years and 11 Months'
 '30 Years and 0 Months' '30 Years and 2 Months' '33 Years and 4 Months'
 '26 Years and 3 Months' '26 Years and 4 Months' '17 Years and 11 Months'
 '18 Years and 0 Months' '7 Years and 6 Months' '7 Years and 7 Months'
 '7 Years and 9 Months' '11 Years and 2 Months' '28 Years and 8 Months'
 '28 Years and 9 Months' '28 Years and 10 Months' '29 Years and 2 Months'
 '29 Years and 3 Months' '29 Years and 4 Months' '29 Years and 5 Months'
 '29 Years and 6 Months' '29 Years and 8 Months' '13 Years and 10 Months'
 '1 Years and 4 Months' '1 Years and 10 Months' '1 Years and 11 Months'
 '33 Years and 1 Months' '33 Years and 6 Months' '33 Years and 7 Months'
 '33 Years and 8 Months' '31 Years and 10 Months' '32 Years and 0 Months'
 '32 Years and 2 Months' '24 Years and 4 Months' '5 Years and 9 Months'
 '5 Years and 10 Months' '6 Years and 0 Months' '6 Years and 1 Months'
 '6 Years and 2 Months' '6 Years and 3 Months' '19 Years and 9 Months'
 '19 Years and 10 Months' '16 Years and 6 Months' '21 Years and 7 Months'
 '22 Years and 0 Months' '22 Years and 2 Months' '20 Years and 2 Months'
 '20 Years and 3 Months' '20 Years and 4 Months' '20 Years and 6 Months'
 '20 Years and 7 Months' '20 Years and 8 Months' '15 Years and 4 Months'
 '15 Years and 5 Months' '15 Years and 6 Months' '15 Years and 8 Months'
 '15 Years and 9 Months' '15 Years and 10 Months' '15 Years and 11 Months'
 '2 Years and 3 Months' '2 Years and 4 Months' '2 Years and 5 Months'
 '2 Years and 7 Months' '2 Years and 10 Months' '4 Years and 10 Months'
 '5 Years and 1 Months' '1 Years and 9 Months' '2 Years and 0 Months'
 '15 Years and 7 Months' '16 Years and 2 Months' '16 Years and 3 Months'
 '9 Years and 5 Months' '9 Years and 8 Months' '9 Years and 9 Months'
 '27 Years and 7 Months' '27 Years and 8 Months' '27 Years and 9 Months'
 '27 Years and 10 Months' '28 Years and 0 Months' '28 Years and 2 Months'
 '18 Years and 11 Months' '5 Years and 7 Months' '12 Years and 0 Months'
 '26 Years and 5 Months' '29 Years and 0 Months' '29 Years and 1 Months'
 '11 Years and 11 Months' '22 Years and 9 Months' '22 Years and 10 Months'
 '23 Years and 0 Months' '23 Years and 1 Months' '23 Years and 2 Months'
 '16 Years and 0 Months' '16 Years and 1 Months' '14 Years and 9 Months'
 '20 Years and 5 Months' '22 Years and 4 Months' '22 Years and 5 Months'
 '22 Years and 6 Months' '22 Years and 8 Months' '23 Years and 6 Months'
 '18 Years and 10 Months' '5 Years and 11 Months' '25 Years and 0 Months'
 '25 Years and 4 Months' '15 Years and 3 Months' '32 Years and 3 Months'
 '32 Years and 5 Months' '32 Years and 6 Months' '33 Years and 5 Months'
 '6 Years and 11 Months' '7 Years and 1 Months' '7 Years and 2 Months'
 '7 Years and 4 Months' '7 Years and 5 Months' '23 Years and 7 Months'
 '23 Years and 9 Months' '22 Years and 3 Months' '10 Years and 10 Months'
 '15 Years and 1 Months' '20 Years and 11 Months' '30 Years and 6 Months'
 '7 Years and 3 Months' '7 Years and 8 Months' '9 Years and 10 Months'
 '10 Years and 0 Months' '28 Years and 7 Months' '28 Years and 11 Months'
 '2 Years and 2 Months' '2 Years and 6 Months' '2 Years and 8 Months'
 '2 Years and 9 Months' '23 Years and 8 Months' '23 Years and 10 Months'
 '23 Years and 11 Months' '24 Years and 0 Months' '14 Years and 7 Months'
 '9 Years and 7 Months' '29 Years and 7 Months' '10 Years and 11 Months'
 '24 Years and 1 Months' '24 Years and 2 Months' '19 Years and 11 Months'
 '20 Years and 0 Months' '20 Years and 1 Months' '27 Years and 6 Months'
 '6 Years and 4 Months' '0 Years and 2 Months' '0 Years and 4 Months'
 '0 Years and 7 Months' '0 Years and 8 Months' '9 Years and 11 Months'
 '13 Years and 11 Months' '12 Years and 1 Months' '29 Years and 10 Months'
 '30 Years and 1 Months' '0 Years and 1 Months' '3 Years and 8 Months'
 '32 Years and 7 Months' '3 Years and 7 Months' '3 Years and 9 Months'
 '3 Years and 10 Months' '6 Years and 9 Months' '1 Years and 0 Months'
 '1 Years and 1 Months' '1 Years and 2 Months' '4 Years and 4 Months'
 '3 Years and 11 Months' '4 Years and 1 Months' '4 Years and 2 Months'
 '4 Years and 3 Months' '1 Years and 3 Months' '2 Years and 1 Months'
 '20 Years and 10 Months' '32 Years and 4 Months' '4 Years and 0 Months'
 '0 Years and 11 Months' '0 Years and 3 Months' '3 Years and 0 Months']

 Payment_of_Min_Amount ['No' 'NM' 'Yes']

 Total_EMI_per_month [   49.57494921    18.81621457   246.99231945 ...    60.96477237
 12112.            35.10402261]

 Payment_Behaviour ['High_spent_Small_value_payments' 'Low_spent_Small_value_payments'
 'High_spent_Large_value_payments' '!@9#%8'
 'Low_spent_Large_value_payments' 'High_spent_Medium_value_payments'
 'Low_spent_Medium_value_payments']

 Monthly_Balance ['312.49408867943663' '244.5653167062043' '470.69062692529184' ...
 '496.651610435322' '516.8090832742814' '393.6736955618808']

 Credit_Score ['Good' 'Standard' 'Poor']

In [39]:
#Impute incorrect data formats
drop_na = drop_na[drop_na['Occupation'].str.contains('_______') == False]
drop_na = drop_na[drop_na['Payment_Behaviour'].str.contains('!@9#%8') == False]

In [42]:
# Revise the incorrect data
sym = '\\`*_{}[]()>#@+!$:;'
col_int = ['Age','Annual_Income','Delay_from_due_date','Num_of_Delayed_Payment',
           'Outstanding_Debt','Total_EMI_per_month', 'Monthly_Balance']

col_str = ['Occupation', 'Credit_History_Age','Payment_of_Min_Amount','Credit_Score']

for i in col_int:
    for c in sym:
        drop_na[i] = drop_na[i].astype(str).str.replace(c,'')
        
for i in col_str:
    for c in sym:
        drop_na[i] = drop_na[i].replace(c,'')

drop_na.head()

/var/folders/nf/g_4jhvds3hl6w0x8k1y827z80000gn/T/ipykernel_98553/3558055212.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  drop_na[i] = drop_na[i].astype(str).str.replace(c,'')

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,809.98,22 Years and 1 Months,No,49.57494921489417,High_spent_Small_value_payments,312.49408867943663,Good
6,23,Scientist,19114.12,1824.843333,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,8,Good,809.98,22 Years and 7 Months,No,49.57494921489417,Low_spent_Small_value_payments,244.5653167062043,Good
9,28,Teacher,34847.84,3037.986667,Credit-Builder Loan,7,1,Good,605.03,26 Years and 8 Months,No,18.816214573128885,High_spent_Large_value_payments,484.5912142650067,Good
10,28,Teacher,34847.84,3037.986667,Credit-Builder Loan,3,-1,_,605.03,26 Years and 9 Months,No,18.816214573128885,High_spent_Large_value_payments,466.46647639764313,Standard
12,28,Teacher,34847.84,3037.986667,Credit-Builder Loan,3,1,Good,605.03,26 Years and 11 Months,No,18.816214573128885,Low_spent_Small_value_payments,444.8670318506144,Good

In [45]:
#Transform the information to the value
drop_na['Credit_History_Age'] = drop_na['Credit_History_Age'].astype(str).str.replace(' Years and ','.')
drop_na['Credit_History_Age'] = drop_na['Credit_History_Age'].astype(str).str.replace('Months', '')

In [56]:
print(drop_na['Payment_Behaviour'].unique())

drop_na['Payment_Behaviour'] = drop_na['Payment_Behaviour'].astype(str).str.replace('Low_spent_Small_value_payments','1')
drop_na['Payment_Behaviour'] = drop_na['Payment_Behaviour'].astype(str).str.replace('Low_spent_Medium_value_payments','2')
drop_na['Payment_Behaviour'] = drop_na['Payment_Behaviour'].astype(str).str.replace('Low_spent_Large_value_payments','3')
drop_na['Payment_Behaviour'] = drop_na['Payment_Behaviour'].astype(str).str.replace('High_spent_Small_value_payments','4')
drop_na['Payment_Behaviour'] = drop_na['Payment_Behaviour'].astype(str).str.replace('High_spent_Medium_value_payments','5')
drop_na['Payment_Behaviour'] = drop_na['Payment_Behaviour'].astype(str).str.replace('High_spent_Large_value_payments','6')

['4' '1' '6' '5' '3' '2']