In [1]:
#Downloading datasets from kaggle

!kaggle datasets download cnic92/200-financial-indicators-of-us-stocks-20142018

Downloading 200-financial-indicators-of-us-stocks-20142018.zip to /Users/ama/Desktop/DS/gitProjects/Machine_learning_in_finance/DBSCAN_fundamental_analyses
100%|██████████████████████████████████████| 14.8M/14.8M [00:11<00:00, 1.30MB/s]
100%|██████████████████████████████████████| 14.8M/14.8M [00:11<00:00, 1.30MB/s]

In [3]:
#Unzipping dataset
!unzip 200-financial-indicators-of-us-stocks-20142018.zip

Archive:  200-financial-indicators-of-us-stocks-20142018.zip
  inflating: 2014_Financial_Data.csv
  inflating: 2015_Financial_Data.csv
  inflating: 2016_Financial_Data.csv
  inflating: 2017_Financial_Data.csv
  inflating: 2018_Financial_Data.csv

#Deleting zip file
!rm 200-financial-indicators-of-us-stocks-20142018.zip

In [5]:
#importing neccesary libraries
import matplotlib.pyplot as plt
import matplotlib.cm as cm

import numpy as np
import pandas as pd

from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA

In [8]:
#Checking the shape of all the datasets 
df_2014 = pd.read_csv('2014_Financial_Data.csv')
df_2015 = pd.read_csv('2015_Financial_Data.csv')
df_2016 = pd.read_csv('2016_Financial_Data.csv')
df_2017 = pd.read_csv('2017_Financial_Data.csv')
df_2018 = pd.read_csv('2018_Financial_Data.csv')

In [9]:
print('Shape of data for year 2014 is {}'.format(df_2014.shape))
print('Shape of data for year 2015 is {}'.format(df_2015.shape))
print('Shape of data for year 2015 is {}'.format(df_2016.shape))
print('Shape of data for year 2015 is {}'.format(df_2017.shape))
print('Shape of data for year 2015 is {}'.format(df_2018.shape))

Shape of data for year 2014 is (3808, 225)
Shape of data for year 2015 is (4120, 225)
Shape of data for year 2015 is (4797, 225)
Shape of data for year 2015 is (4960, 225)
Shape of data for year 2015 is (4392, 225)

In [11]:
#All datasets have equal features of 225 so we can explore one dataset
df_2014.head()

,Unnamed: 0,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,2015 PRICE VAR [%],Class
0,PG,7.440100e+10,-0.0713,3.903000e+10,3.537100e+10,0.000000e+00,2.146100e+10,2.146100e+10,1.391000e+10,7.090000e+08,...,-0.0187,-0.0217,0.0359,0.0316,0.1228,0.0000,-0.1746,Consumer Defensive,-9.323276,0
1,VIPS,3.734148e+09,1.1737,2.805625e+09,9.285226e+08,1.083303e+08,3.441414e+08,7.939267e+08,1.345959e+08,1.214869e+07,...,NaN,NaN,NaN,NaN,NaN,1.6484,1.7313,Consumer Defensive,-25.512193,0
2,KR,9.837500e+10,0.0182,7.813800e+10,2.023700e+10,0.000000e+00,1.519600e+10,1.751200e+10,2.725000e+09,4.430000e+08,...,0.0618,0.0981,0.1886,0.3268,0.2738,0.0000,0.0234,Consumer Defensive,33.118297,1
3,RAD,2.552641e+10,0.0053,1.820268e+10,7.323734e+09,0.000000e+00,6.561162e+09,6.586482e+09,7.372520e+08,4.245910e+08,...,0.0211,-0.0510,-0.0189,0.1963,-0.0458,0.0000,-0.0060,Consumer Defensive,2.752291,1
4,GIS,1.790960e+10,0.0076,1.153980e+10,6.369800e+09,0.000000e+00,3.474300e+09,3.412400e+09,2.957400e+09,3.024000e+08,...,0.0257,0.0090,0.0215,0.0274,0.1025,0.0000,-0.0220,Consumer Defensive,12.897715,1

In [15]:
df_2014.dtypes

Unnamed: 0               object
Revenue                 float64
Revenue Growth          float64
Cost of Revenue         float64
Gross Profit            float64
                         ...
R&D Expense Growth      float64
SG&A Expenses Growth    float64
Sector                   object
2015 PRICE VAR [%]      float64
Class                     int64
Length: 225, dtype: object

In [16]:
#select columns which are non-numeric
df_objects = df_2014.select_dtypes(include=['object'])
df_objects

     Unnamed: 0              Sector
0            PG  Consumer Defensive
1          VIPS  Consumer Defensive
2            KR  Consumer Defensive
3           RAD  Consumer Defensive
4           GIS  Consumer Defensive
...         ...                 ...
3803       TSRI          Technology
3804       TZOO          Technology
3805      USATP          Technology
3806       WSTG          Technology
3807        WTT          Technology

[3808 rows x 2 columns]